@import "../../styles/variables";

.product{
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: $secondary-gray;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover{
        background-color: $secondary-blue;
    }

    &_active{
        background-color: $main-blue;
    }

    &_icon_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $main-gray;
        flex-shrink: 0;
    }

    &_info{
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin: 0 10px;

        &_title{
            color: black;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            word-break: break-all;
        }

        &_description{
            color: black;
            font-size: 14px;
            line-height: 16px;
            word-break: break-all;
        }
    }

    &_delete{
        margin-left: auto;
    }
}

